:root {
    --green: #669966;
    --purple: #996699;
    --blue: #596891;
    --grey-blue: #8497b3;
    --yellow: #a6a86e;
    --grey: #5b5b5b;
    --default: #9e9f9a;
    --red: #955456;
    --black: #000000;
    --white: #ffffff;
}

:root {
    --bg-color: #1a1a1a;
    --bg-color-darker: #121212;
    --bg-color-section: #2a2a2a;
    --bg-color-section-tr: rgba(42, 42, 42, 0.9);
    --bg-color-section-tr2: rgba(42, 42, 42, 0.8);
    --bg-color-section-lighter: #3a3a3a;
    --bg-color-section-lighter-tr: rgba(58, 58, 58, 0.5);
    --bg-color-section-lighter-tr2: rgba(58, 58, 58, 0.95);
    --bg-color-section-lightest: #454545;
    --txt-color: var(--white);
    --txt-color-darker: #999999;
    --txt-color-invert: #090909;
    --accent-color: #555555;
    --accent-color-tr: rgba(85, 85, 85, 0.9);
    --accent-color-tr2: rgba(85, 85, 85, 0.95);
    --accent-color-light: #666666;
    --danger-color: var(--red);
    --danger-color-deep: #cd4142;
    --success-color: var(--green);
    --success-color-deep: #115111;
    --other-color: var(--blue);
    --other-color-deep: #3d74b3;
}

:root {
    --site-banner: url("./img/tcoaal-banner.webp");
    --choice-button-hover: url("./img/tcoaal-choice-button-hover.webp");
    --choice-button: url("./img/tcoaal-choice-button.webp");
    --small-choice-button-hover: url("./img/tcoaal-choice-button-small-hover.webp");
    --small-choice-button: url("./img/tcoaal-choice-button-small.webp");
    --dialog-box: url("./img/tcoaal-dialog-box.webp");
    --site-home: url("./img/tcoaal-home.webp");
    --site-loading: url("./img/tcoaal-loading.webp");
    --site-title: url("./img/tcoaal-title.webp");
    --dialog-arrow: url("./img/tcoaal-arrow.gif");
}
